:root {
  --smart-green: #055F63;
}

/* Button */
.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):active {
  color: white;
  background-color: var(--smart-green);
  border-color: var(--smart-green);
}
.btn-primary:active,
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem #e6fff2;
}
/**********************************/
.marked-text span {
    color: #6a737d;
    font-size: 0.75rem;
}

.CodeMirror {
    font-size: 1.25rem;
    height: 85%;
}

#editor {
    padding-right: 2px;
}

#editor:focus-within {
    border-color: var(--smart-green);
    box-shadow: none; 
    -webkit-box-shadow: none;
}

#editor:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(40,167,69,.3), 0 1px 3px 1px rgba(40,167,69,.15);
    z-index: 1;
    cursor: pointer;
    transition: none;
}
/*****************************/
.form-control:focus {
    box-shadow: none; 
    -webkit-box-shadow: none;
    border-color: var(--smart-green);
    cursor: default;
}

.form-control:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(40,167,69,.3), 0 1px 3px 1px rgba(40,167,69,.15);
    z-index: 1;
    cursor: pointer;
    transition: none;
}

.form-control:valid {
    border-color: 1px solid #ced4da !important; /*var(--smart-green) !important;*/
    box-shadow: none !important; 
    -webkit-box-shadow: none !important;
    background-image: none !important;
}
/*
.form-control.is-invalid, .was-validated .form-control:valid {
    border-color:  #ced4da; /*var(--smart-green) !important;*/
}
*/
.was-validated .form-control:invalid:focus {
    box-shadow: none;
}

/*******************************************/
.fa-spinner {
    color: var(--smart-green);
}

.fa-warning {
    color: red;
}

/* HOTFIX for bootbox modal error dialog */
.modal-header {
    display: block;
}

div.form-control {
    height: auto;
}

/* Scrollbar */
.CodeMirror-overlayscroll-horizontal div:hover, .CodeMirror-overlayscroll-vertical div:hover {
    background: var(--smart-green);
}
